# Frontend (Angular)
FlightReservationFrontend/node_modules/
FlightReservationFrontend/dist/
FlightReservationFrontend/.angular/

# Backend (.NET)
FlightReservationBackend/bin/
FlightReservationBackend/obj/
FlightReservationBackend/.vs/
FlightReservationBackend/**/*.user
FlightReservationBackend/**/*.suo
FlightReservationBackend/**/*.log

# Genel
.env
appsettings.Development.json